@page "/auditLogs"
@using global::SystemManagement.AuditLogs
@using global::SystemManagement.Localization
@using global::SystemManagement.Permissions
@inherits ReadOnlyTable<IAuditLogAppService,GetAuditLogPageListOutput,Guid,PagingAuditLogListInput>
@attribute [Authorize(SystemManagementPermissions.AuditLog)]
        <Table
            ShowSkeleton="true"
            ShowLoading="true"
            ShowSearch="true"
            IsStriped="true"
            IsBordered="true"
            ShowExtendButtons="false"
            ShowDefaultButtons="false"
            IsPagination="true"
            PageItemsSource="@PageItemsSource" 
            TItem="GetAuditLogPageListOutput" 
            OnQueryAsync="OnQueryAsync"
            >
            <TableColumns>
                   <TableColumn @bind-Field="@context.ApplicationName" Text="@L["ApplicationName"]"/>
                   <TableColumn @bind-Field="@context.Url" Text="@L["Url"]"/>
                   <TableColumn @bind-Field="@context.HttpMethod" Text="@L["HttpMethod"]"/>
                   <TableColumn @bind-Field="@context.HttpStatusCode" Text="@L["HttpStatusCode"]"/>
                   <TableColumn @bind-Field="@context.ExecutionTime" Text="@L["ExecutionTime"]"/>
            </TableColumns>
        </Table>
@code {
   
    public   AuditLogs()
    {
        this.LocalizationResource = typeof(SystemManagementResource);
    }
     

}