@page "/auditLogs"
@using global::SystemManagement.AuditLogs
@using global::SystemManagement.Localization
@using global::SystemManagement.Permissions
@inherits Tchivs.Abp.Blazor.Theme.Bootstrap.BootstrapComponent
@attribute [Authorize(SystemManagementPermissions.AuditLog)]
@inject IAuditLogAppService _auditLogAppService
<Card>
    <CardBody>
        <Table
            ShowSkeleton="true"
            ShowLoading="true"
            ShowSearch="true"
            IsStriped="true"
            IsBordered="true"
            ShowExtendButtons="false"
            ShowDefaultButtons="false"
            IsPagination="true" PageItemsSource="@PageItemsSource" TItem="GetAuditLogPageListOutput" OnQueryAsync="OnQueryAsync">
            <TableColumns>
                   <TableColumn @bind-Field="@context.ApplicationName" Text="@L["ApplicationName"]"/>
                   <TableColumn @bind-Field="@context.Url" Text="@L["Url"]"/>
                   <TableColumn @bind-Field="@context.Exceptions" Text="@L["Exceptions"]"/>
                   <TableColumn @bind-Field="@context.HttpStatusCode" Text="@L["HttpStatusCode"]"/>
                   <TableColumn @bind-Field="@context.ClientName" Text="@L["ClientName"]"/>
                   <TableColumn @bind-Field="@context.ExecutionTime" Text="@L["ExecutionTime"]"/>
            </TableColumns>
        </Table>
    </CardBody>
</Card>

@code {
    protected virtual IEnumerable<int> PageItemsSource => new int[] {4, 10, 20};

    public   AuditLogs()
    {
        this.LocalizationResource = typeof(SystemManagementResource);
    }
    private async Task<QueryData<GetAuditLogPageListOutput>> OnQueryAsync(QueryPageOptions arg)
    {
        var result = await _auditLogAppService.GetListAsync(new PagingAuditLogListInput()
        {
            SkipCount = arg.PageIndex * arg.PageItems,
            Sorting = arg.SortName,
            ApplicationName = arg.SearchText
        });
        return new QueryData<GetAuditLogPageListOutput>()
        {
            Items = result.Items, TotalCount = result.TotalCount
        };
    }

}