@page "/identityServer/apiScopes"
@using global::SystemManagement.Permissions
@inherits EasyTable<IApiScopeAppService,PagingApiScopeListOutput,Guid,PagingApiScopeListInput,CreateApiScopeInput,UpdateCreateApiScopeInput>
@attribute [Authorize(SystemManagementPermissions.IdentityServer.ApiScope.Default)]
@using SystemManagement.IdentityServer.ApiScopes
@using SystemManagement.IdentityServer.ApiScopes.Dtos
@using Console = System.Console
<Table
    TItem=PagingApiScopeListOutput
    AutoGenerateColumns="false"
    IsMultipleSelect="true"
    ShowSkeleton="true"
    ShowLoading="true"
    ShowSearch="true"
    IsStriped="true"
    IsBordered="true"
    ShowExtendButtons="true"
    ShowLineNo="true"
    ShowDefaultButtons="true"
    IsPagination="true"
    PageItemsSource="PageItemsSource" ShowToolbar="true"
    EditDialogRowType="RowType.Inline"
    OnSaveAsync="OnSaveAsync" 
    OnDeleteAsync="OnDeleteAsync"
    OnQueryAsync="OnQueryAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" IsReadonlyWhenEdit="true" Text="@L["Name"]"/>
        <TableColumn @bind-Field="@context.DisplayName" Text="@L["DisplayName"]"/>
        <TableColumn @bind-Field="@context.Enabled" Text="@L["Enabled"]"/>
        <TableColumn @bind-Field="@context.Emphasize" Text="@L["Emphasize"]"/>
        <TableColumn @bind-Field="@context.Required" Text="@L["Required"]"/>
        <TableColumn @bind-Field="@context.ShowInDiscoveryDocument" Text="@L["ShowInDiscoveryDocument"]"/>
        <TableColumn @bind-Field="@context.Description" Text="@L["Description"]"/>
    </TableColumns>
</Table>

@code {

    

}